@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  /* PAGES */
  .container-pages {
    @apply flex flex-row bg-white h-screen;
  }

  .container-columns {
    @apply flex flex-col gap-5 w-[510px];
  }

  /* LOGIN PAGES */

  .container-pages .columns-login-left {
    @apply basis-1/2 flex justify-center items-center bg-gradient-to-r from-cyan-500 to-blue-500;
  }

  .container-pages .columns-login-right {
    @apply basis-1/2 flex justify-center items-center;
  }

  .card {
    @apply border-2 h-[453px] w-[510px] shadow-lg flex flex-col p-10;
  }

  .card-register {
    @apply border-2 h-[750px] w-[510px] shadow-lg flex flex-col p-10;
  }

  .container-logo {
    @apply flex items-center justify-center mb-10;
  }

  .label-masuk {
    @apply text-3xl text-slate-500 font-bold;
  }

  .form {
    @apply mt-2 flex flex-col gap-2;
  }

  .field-container {
    @apply w-full flex flex-col;
  }

  .field-container label {
    @apply text-black font-semibold opacity-70;
  }

  .field-container input {
    @apply border border-gray-500 h-[40px] rounded-lg px-2 text-black;
  }

  .field-container-images {
    @apply w-full flex flex-col;
  }

  .field-container-images label {
    @apply text-black font-semibold opacity-70;
  }

  .field-container-images input .input-image {
    @apply h-[40px];
  }

  .card button {
    @apply bg-green-600 w-full rounded-xl mt-5 h-[40px] text-lg font-semibold;
  }

  .card p {
    @apply mt-5 flex justify-center gap-1;
  }

  .card .label-daftar {
    @apply text-green-600 cursor-pointer font-bold;
  }

  .card-register button {
    @apply bg-green-600 w-full rounded-xl mt-5 h-[40px] text-lg font-semibold;
  }

  .card-register p {
    @apply mt-5 flex justify-center gap-1;
  }

  .card-register .label-daftar {
    @apply text-green-600 cursor-pointer font-bold;
  }

  /* LABEL */
  .label-message {
    @apply font-bold text-center text-3xl flex justify-center items-center;
  }
}
